@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
margin:0 ;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
.bo {
    background-color: rgb(50, 4, 77);
    background: url(img/R.gif) no-repeat;
}
header{
    background-color: rgb(0, 0, 0);
    width: 100% ;
    position: fixed;
    z-index: 999;
    align-items: center;
    text-align: center;
    

}
.logo {
    text-align: center;
    justify-items: center;
    text-decoration: none;
    color: rgb(250, 250, 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

section{
    align-items: center;
    padding: 50px 50px;
    justify-content: space-between;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(img/R.gif) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}




.content {
    display:flex;
    justify-content:space-around;
    justify-items:auto;
    flex-direction:row;
    flex-wrap:wrap;
    position:absolute;
}
.card {
    background-color: rgba(0, 0, 0, 0);
    size: 50px 50px;
    box-shadow: 0 5px 25px rgba(13, 73, 1, 0);
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    transition: 0.7s;
    text-decoration: none;
}
.card:hover{
    transform: scale(1.5);
    background-color: rgba(0, 0, 0, 0);
    
}

.card a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.info{
    text-align: center;

}
.info h3{
    color: rgb(225, 197, 252);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;

}
.footer{
    background-color: black;
    color: aliceblue;
    padding: 5px;
    display: flex;
    justify-content:space-between;
    
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;

}
.footer-title span{
    color: rgb(1, 92, 8);
   transform:matrix(1.5)
}
.footer .social-icons a{
    color: rgb(25, 75, 1);
    font-size: 1.3em;
    padding: 1px 12px 0 0;
}
.footer .social-icons :hover{
    transform:scale3d(1.5);
    color: blueviolet;
    cursor:grab;
}


@media (max-width:1023px){
    header{
        padding: 12px 20px;

    }
    .logo{
        padding-right: 10px;
    }
    .navigaton a{
        padding-left: 10px;

    }
    .title{
        font-size: 1.8em;
    }
    section {
        padding: 10px 55px;
        padding-bottom: 600px;
        display: flex;
    }
    
    .content{
        flex-direction:column-reverse;
        align-items: center;
        display: flex;
    }
    .footer{
        padding-top: 270px;
    }

    }
    @media (max-width:641px){
       body{
        font-size: 12px;}

        
        .footer{
            padding-top: 270px;
        }

    }
    @media (max-width:400px) {
        body{
            font-size: 10px;
        }
        .footer{
            padding-top: 290px;
        }
    }
